Repository Project-Corp-Astro/Corp_Astro_Server_Trial, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Project-Corp-Astro/maintainers, @Project-Corp-Astro/core-team, @Project-Corp-Astro/typescript-experts, @Project-Corp-Astro/mobile-team, @Project-Corp-Astro/content-team, @Project-Corp-Astro/subscription-team, @Project-Corp-Astro/user-management-team, @Project-Corp-Astro/performance-team, @Project-Corp-Astro/docs-team, @Project-Corp-Astro/qa-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, these owners will be requested for
# review when someone opens a pull request.
* @Project-Corp-Astro/maintainers

# Core server configuration
/src/app.ts @Project-Corp-Astro/core-team
/src/config/ @Project-Corp-Astro/core-team

# Type definitions
/src/types/ @Project-Corp-Astro/typescript-experts

# Mobile service
/src/services/mobile/ @Project-Corp-Astro/mobile-team

# Content service
/src/services/content/ @Project-Corp-Astro/content-team

# Subscription service
/src/services/subscription/ @Project-Corp-Astro/subscription-team

# User management service
/src/services/user-management/ @Project-Corp-Astro/user-management-team

# Performance and scalability services
/src/services/performance/ @Project-Corp-Astro/performance-team
/src/services/scalability/ @Project-Corp-Astro/performance-team

# Documentation
/docs/ @Project-Corp-Astro/docs-team
*.md @Project-Corp-Astro/docs-team

# Tests
**/__tests__/ @Project-Corp-Astro/qa-team

Update README.md with GitHub repository setup details and recent changes
  README.md
Owners: @Project-Corp-Astro/docs-team

Fix GitHub Actions workflow files to handle secrets properly
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Owners: @Project-Corp-Astro/maintainers

Add comprehensive repository configuration and deployment setup
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation_update.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/project-board-setup.md
  .github/repository-secrets-setup.md
  Dockerfile
  docker-compose.yml
  docs/deployment-guide.md
  ecosystem.config.js
Owners: @Project-Corp-Astro/docs-team, @Project-Corp-Astro/maintainers

Add database migration system and initial schema
  .sequelizerc
  package.json
  src/config/database.js
  src/database/migrations/20250516000001-create-initial-tables.js
  src/database/seeders/20250516000001-initial-seed-data.js
Owners: @Project-Corp-Astro/maintainers, @Project-Corp-Astro/core-team

Fix GitHub Actions workflow files to remove context access warnings
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Owners: @Project-Corp-Astro/maintainers

Update README.md with comprehensive repository documentation
  README.md
Owners: @Project-Corp-Astro/docs-team

feat(analytics): Implement backend analytics infrastructure for mobile app
  README.md
  docs/analytics-api-documentation.md
  docs/analytics-system-readme.md
  src/services/analytics/examples/mobile-sdk-integration.ts
Owners: @Project-Corp-Astro/docs-team, @Project-Corp-Astro/maintainers

Implement content generation system, free tools backend, and mobile analytics API for Corp Astro mobile application
  README.md
  src/controllers/analyticsDashboardController.ts
  src/controllers/contentController.ts
  src/controllers/mobileAnalyticsController.ts
  src/controllers/toolsController.ts
  src/database/migrations/20250517000001-create-content-tables.js
  src/routes/analytics-api.ts
  src/routes/analytics-dashboard-api.ts
  src/routes/content-api.ts
  src/routes/mobile-analytics-api.ts
  src/routes/tools-api.ts
  src/services/content/contentService.ts
  src/services/content/models/BusinessProfile.ts
  src/services/content/models/ContentItem.ts
  src/services/content/models/UserContent.ts
  src/services/content/models/index.ts
  src/services/tools/numerologyService.ts
Owners: @Project-Corp-Astro/docs-team, @Project-Corp-Astro/maintainers, @Project-Corp-Astro/content-team

Fix TypeScript errors and update documentation
  README.md
  src/config/sequelize.config.ts
  src/middleware/roleCheck.ts
  src/services/content/models/ContentItem.ts
  src/services/content/models/UserContent.ts
  tsconfig.json
Owners: @Project-Corp-Astro/docs-team, @Project-Corp-Astro/core-team, @Project-Corp-Astro/maintainers, @Project-Corp-Astro/content-team

Update configuration files and add tests
  jest.config.js
  package-lock.json
  package.json
  src/app.ts
  src/config/database.ts
  src/tests/analytics/astrologyABTests.test.ts
  src/tests/analytics/subscriptionAnalytics.test.ts
  src/tests/runAnalyticsTests.js
  src/tests/setup.ts
  tests/mobile-analytics-api.test.ts
Owners: @Project-Corp-Astro/maintainers, @Project-Corp-Astro/core-team

Add database migrations and utility scripts
  scripts/initialize-analytics.sh
  scripts/setup-analytics.sh
  src/database/migrations/20250516000001-create-initial-tables.js
Owners: @Project-Corp-Astro/maintainers

Convert all JavaScript files to TypeScript
  deploy-config.js
  deploy-config.ts
  ecosystem.config.js
  ecosystem.config.ts
  jest.config.ts
  package.json
  src/config/database.js
  src/database/migrations/20250516000001-create-initial-tables.js
  src/database/migrations/20250516000001-create-initial-tables.ts
  src/database/migrations/20250516000002-create-analytics-tables.ts
  src/database/migrations/20250517000001-create-content-tables.js
  src/database/migrations/20250517000001-create-content-tables.ts
  src/database/seeders/20250516000001-initial-seed-data.js
  src/database/seeders/20250516000001-initial-seed-data.ts
  src/tests/runAnalyticsTests.js
  src/tests/runAnalyticsTests.ts
  start-server.js
  start-server.ts
  update-imports.js
  update-imports.ts
Owners: @Project-Corp-Astro/maintainers, @Project-Corp-Astro/core-team

Enhance README.md with comprehensive documentation
  README.md
Owners: @Project-Corp-Astro/docs-team

Add comprehensive documentation for the project
  README.md
  docs/docker-cicd-guide.md
  docs/integration-guide.md
  docs/performance-scalability-guide.md
Owners: @Project-Corp-Astro/docs-team

Add comprehensive documentation with visual representations
  README.md
  docs/api-reference.md
  docs/authentication-guide.md
  docs/database-schema.md
  docs/push-notification-guide.md
  docs/webhooks-guide.md
  docs/workflows-guide.md
Owners: @Project-Corp-Astro/docs-team

Improve README.md structure and readability with better flow and organization
  README.md
Owners: @Project-Corp-Astro/docs-team
